{{ if eq .machine "Shine" -}}
[profile shinesandbox]
region = ap-southeast-2
output = json
{{ end -}}

# Personal AWS Account Config
[profile personal]
sso_session = admin-sso
sso_account_id = 587104475797
sso_role_name = AdministratorAccess
region = ap-southeast-2
output = json
[sso-session admin-sso]
sso_start_url = https://d-97674c05a9.awsapps.com/start/
sso_region = ap-southeast-2
sso_registration_scopes = sso:account:access
