{{- $machines := list "Personal" "Shine" "SERV WSL" -}}

{{- $machine := promptChoiceOnce . "machine" "What machine are you on" $machines -}}
{{- $email := promptStringOnce . "email" "Email Address" -}}

[edit]
	command = "nvim"
[data]
  is_arm64_linux = {{ and (eq .chezmoi.os "linux") (eq .chezmoi.arch "arm64") | quote }}
	email = {{ $email | quote }}
	machine = {{ $machine | quote }}
  is_work = {{ or (eq $machine "Shine") (eq $machine "SERV WSL") | quote }}
  openai_key = {{ onepasswordRead "op://Personal/openai-api-cli/key" | quote }}
