{{- $machines := list "Personal" "Shine" "SERV WSL" -}}

{{- $machine := promptChoiceOnce . "machine" "What machine are you on" $machines -}}
{{- $email := promptStringOnce . "email" "Email Address" -}}

[edit]
	command = "nvim"
[data]
	email = {{ $email | quote }}
	machine = {{ $machine | quote }}
