#!/bin/bash

# Brew
# Core Brews
{{ range .packages.core.brews -}}
brew install {{ . | quote }}
{{ end -}}

{{ if eq .machine "Personal" -}}
# Personal Brews
{{ range .packages.home.brews -}}
brew install {{ . | quote }}
{{ end }}
{{ else -}}
# Work Brews
{{ range .packages.work.brews -}}
brew install {{ . | quote }}
{{ end -}}
{{ end -}}

# MacOS Casks
{{ if eq .chezmoi.os "darwin" -}}
# Core Casks
{{ range .packages.core.casks -}}
brew install --cask {{ . | quote }}
{{ end -}}

{{ if eq .machine "Personal" -}}
# Personal Casks
{{ range .packages.home.casks -}}
brew install --cask {{ . | quote -}}
{{ end -}}
{{ else -}}
# Work Casks
{{ range .packages.work.casks -}}
brew install --cask {{ . | quote }}
{{ end -}}
{{ end -}}
{{ end -}}

# install nvm/other curl install script
# zsh + omz
# Get ssh key from 1Password and add to ssh agent
