#!/bin/bash

{{ if eq .is_arm64_linux "true" -}}
{{ if index .packages.core "apt" -}}
sudo apt install -y {{ join " " .packages.core.apt }}
{{ end -}}

{{ if index .packages.core "snap" -}}
sudo snap install {{ join " " .packages.core.snap }}
{{ end -}}

{{ if eq .machine "Personal" -}}
{{ if index .packages.home "apt" -}}
sudo apt install -y {{ join " " .packages.home.apt }}
{{ end -}}

{{ if index .packages.home "snap" -}}
sudo snap install {{ join " " .packages.home.snap }}
{{ end -}}
{{ else -}}
{{ if index .packages.work "apt" -}}
sudo apt install -y {{ join " " .packages.work.apt }}
{{ end -}}

{{ if index .packages.work "snap" -}}
sudo snap install {{ join " " .packages.work.snap }}
{{ end -}}
{{ end -}}
{{ else -}}
brew bundle --file=/dev/stdin <<EOF
{{ if ne .is_arm64_linux "true" -}}
# Brews
brew "jq"
brew "yq"
brew "fd"
brew "fzf"
brew "bat"
brew "ripgrep"
brew "tmux"
brew "zsh"
brew "nvm"
brew "vim"
brew "neovim"
brew "pnpm"
brew "nnn"
brew "eza"
brew "git-lfs"
brew "git-delta"
{{ if (eq .is_work "true") -}}
# Work Brews
brew "awscli"
brew "aws-sam-cli"
brew "docker"
brew "docker-completion"
brew "colima"
brew "saml2aws"
# brew "iamlive"
brew "terraform"
{{ end -}}
{{ if (eq .chezmoi.os "darwin") -}}
# Casks
cask "ghostty"
cask "obsidian"
cask "nikitabobko/tap/aerospace"
# cask "1password-cli" - need to uninstall manually
{{ end -}}
{{ end -}}
EOF
{{ end -}}
