#!/bin/bash

{{ if eq .chezmoi.os "darwin" -}}
defaults write com.apple.Finder AppleShowAllFiles -bool true
{{ end -}}

{{ if eq .is_arm64_linux "true" -}}
  {{ if index .packages.core "apt" -}}
    sudo apt install -y {{ join " " .packages.core.apt }}
  {{ end -}}

  {{ if index .packages.core "snap" -}}
    sudo snap install {{ join " " .packages.core.snap }}
  {{ end -}}

  {{ if eq .machine "Personal" -}}
    {{ if index .packages.home "apt" -}}
      sudo apt install -y {{ join " " .packages.home.apt }}
    {{ end -}}

    {{ if index .packages.home "snap" -}}
      sudo snap install {{ join " " .packages.home.snap }}
    {{ end -}}
  {{ else -}}
    {{ if index .packages.work "apt" -}}
      sudo apt install -y {{ join " " .packages.work.apt }}
    {{ end -}}

    {{ if index .packages.work "snap" -}}
      sudo snap install {{ join " " .packages.work.snap }}
    {{ end -}}
  {{ end -}}
{{ end -}}

brew bundle --file="~/Brewfile"
