{{ if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

# Bash array of options
options=(
  width=1.0
  active_color=0xffe1e3e4
  inactive_color=0xff494d64
)

# TODO: Quoted array expansion
borders "${options[@]}"
{{ end -}}
